*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-flex {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 24px 0;
}

.navbar {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}
.page-footer .logo-studio {
  color: #f4f4fd;
}

.nav-list,
.contact {
  display: flex;
  gap: 40px;
  font-style: normal;
}

.link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar .link::after {
  position: absolute;
  content: '';
  background-color: #404bbf;
  border-radius: 4px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .link {
  font-weight: 400;
  color: #434455;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.navbar .link:hover::after,
.navbar .link:focus::after {
  opacity: 1;
}

.hero-sec {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: 2x) {
  .hero-sec {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)), url('../images/people-office@2x.jpg');
  }
}

.title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  margin: 0 auto;
  padding-bottom: 48px;
  color: #fff;
}

.btn {
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.sec-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  padding-bottom: 72px;
  text-align: center;
  color: #2e2f42;
}

.info-list {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  display: none;
}

.team-sec {
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 264px;
  box-shadow:
    0px 2px 1px 0 rgba(46, 47, 66, 0.08),
    0px 1px 1px 0 rgba(46, 47, 66, 0.16),
    0px 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
}

.team-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-content {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-content > .card-title {
  padding-bottom: 8px;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 48px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .portfolio-overlay,
.portfolio-card:focus .portfolio-overlay {
  transform: translateY(0);
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-content {
  max-width: 264px;
}

.footer-text {
  padding-top: 16px;
  color: #f4f4fd;
}

.info-list li {
  display: flex;
  flex-direction: column;
  min-width: 264px;
  gap: 8px;
}

.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  padding: 24px 0;
}

.info-icon svg {
  fill: #2e2f42;
}

.social-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-link svg {
  fill: #f4f4fd;
}

.footer-title {
  font-weight: 500;
  color: #fff;
  padding-bottom: 16px;
}

.page-footer > .container {
  display: flex;
  justify-content: space-between;
}

.footer-social-title + .social-icons-list {
  gap: 16px;
}

.footer-socials .social-link:hover,
.footer-socials .social-link:focus {
  background-color: #31d0aa;
}

.backdrop {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
}

.is-open {
  display: flex;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 24px;
}

.close-btn {
  cursor: pointer;
  position: fixed;
  right: 24px;
  top: 24px;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  background-color: #e7e9fc;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  fill: #fff;
  background-color: #404bbf;
}

.modal-text {
  margin-top: 48px;
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
}

.modal-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
  width: 360px;
  margin: 16px 0;
}

.form-label {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}

.form-content {
  position: relative;
  gap: 4px;
  width: 360px;
}

.form-text {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-size: 12px;
  padding-left: 38px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-content svg {
  position: absolute;
  top: 32px;
  left: 19px;
  height: 24px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text:focus {
  border: 1px solid #4d5ae5;
}

.form-content input:focus + svg {
  fill: #4d5ae5;
}

.form-textarea {
  resize: none;
  overflow: auto;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border: 1px solid #4d5ae5;
}

.form-textarea::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-policy {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  border-radius: 4px;
  width: 360px;
  height: 16px;
}

.form-policy input {
  display: none;
}

.form-policy svg {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-policy:hover svg {
  fill: #4d5ae5;
}

.form-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.submit-btn {
  margin-top: 24px;
}

.subscribe {
  max-width: 453px;
  min-height: 80px;
}

.subs-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.subs-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 40px;
}

.subs-text::placeholder {
  color: #fff;
}

.subs-text:focus {
  border: 1px solid #31d0aa;
}

.subs-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subs-btn:hover,
.subs-btn:focus {
  background-color: #31d0aa;
}

.subs-btn span {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}

.subs-btn svg {
  fill: #fff;
}

@media (min-width: 320px) {
  body {
    overflow-x: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  opacity: 0;
}

.mobile-menu.is-open {
  transform: translateY(0);
  opacity: 1;
}

.mobile-container {
  display: flex;
  flex-direction: column;
  padding: 72px 24px 40px 16px;
  height: 100%;
}

.mobile-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: auto;
  gap: 40px;
}

.mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-link:hover,
.mobile-link:focus {
  color: #404bbf;
}

.mobile-contacts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.mobile-contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contact-link:hover,
.mobile-contact-link:focus {
  color: #4d5ae5;
}

.mobile-container > .social-icons-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  padding-top: 48px;
  gap: 40px;
}

.nav-menu {
  cursor: pointer;
  border: none;
  background-color: #fff;
  width: 30px;
  height: 24px;
}

@media screen and (max-width: 767px) {
  .navbar {
    width: 100%;
    justify-content: space-between;
  }

  .header-flex {
    padding: 16px;
  }

  .nav-list,
  .contact {
    display: none;
    padding: 8px;
  }

  .hero-sec {
    padding: 0;
    padding-bottom: 72px;
  }

  .title {
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;
    padding: 72px 0;
  }

  .section {
    padding: 96px 0;
  }

  .info-list {
    flex-direction: column;
    gap: 72px;
  }

  .info-list li {
    width: 100%;
    max-width: 288px;
    margin: 0 auto;
  }

  .info-icon {
    display: none;
  }

  .team-list {
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }

  .team-card {
    width: 100%;
    max-width: 264px;
  }

  .portfolio-list {
    flex-direction: column;
    gap: 48px;
  }

  .portfolio-card {
    width: 100%;
  }

  .page-footer > .container {
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    gap: 72px;
  }

  .logo {
    margin: 0;
  }

  .footer-content > p {
    text-align: left;
  }

  .subs-form {
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .subs-text {
    width: 100%;
  }

  .subs-btn {
    align-self: center;
    width: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }

  .page-header {
    padding: 24px 16px;
  }

  .nav-menu {
    display: none;
  }

  .header-flex {
    padding: 0 16px;
  }

  .logo {
    margin-right: 120px;
  }

  .nav-list {
    margin-right: 120px;
  }

  address {
    margin: auto;
  }

  .contact {
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }

  .hero-sec {
    padding: 112px 0;
  }

  .info-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 72px;
  }

  .info-list h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
  }

  .info-list li {
    width: 100%;
  }

  .info-icon {
    display: none;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .team-card {
    width: calc((100% - 24px) / 2);
    max-width: 264px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-card {
    width: calc((100% - 24px) / 2);
  }

  .page-footer > .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 72px 24px;
  }

  .subs-form {
    flex-direction: row;
  }

  .subs-text {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .nav-menu {
    display: none;
  }

  .container {
    max-width: 1158px;
  }

  .header-flex {
    max-width: 1440px;
    padding: 24px 156px;
  }

  .page-footer .container {
    display: grid;
    grid-template-columns: 264px 208px 453px;
    justify-content: center;
    gap: 0 120px;
    padding-left: 0;
  }

  .subs-text {
    width: 264px;
  }
}
